.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
src/.vscode/settings.json
.vscode/settings.json
node_modules/save-svg-as-png/package.json
package-lock.json
node_modules/save-svg-as-png/.babelrc
node_modules/save-svg-as-png/.swp
node_modules/save-svg-as-png/.tmuxrc
node_modules/save-svg-as-png/.vimlocal
node_modules/save-svg-as-png/bootstrap.min.css
node_modules/save-svg-as-png/image.png
node_modules/save-svg-as-png/index.html
node_modules/save-svg-as-png/index.js
node_modules/save-svg-as-png/LICENSE
node_modules/save-svg-as-png/README.md
node_modules/save-svg-as-png/selectortest.html
node_modules/save-svg-as-png/stalemate.ttf
node_modules/save-svg-as-png/test.js
node_modules/save-svg-as-png/test.svg
node_modules/save-svg-as-png/viewboxtest.html
node_modules/save-svg-as-png/lib/saveSvgAsPng.js
